.penguin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 150px;
  margin: 10px auto;
}

.message-bubble {
  background: white;
  border-radius: 15px;
  padding: 10px 15px;
  width: 300px;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-blue);
  position: relative;
  max-width: 200px;
  text-align: center;
  animation: float 3s ease-in-out infinite;

  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
  }
}

.penguin-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.penguin-img {
  width: 250px;
  height: auto;
  z-index: 2;
  animation: float-img 4s ease-in-out infinite;
  transition: transform 0.3s ease;
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.1));

  &:hover {
    transform: scale(1.05);
  }
}

.shadow {
  width: 60px;
  height: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-top: -10px;
  animation: shadow-scale 4s ease-in-out infinite;
}

@keyframes float-img {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes shadow-scale {

  0%,
  100% {
    transform: scale(1);
    opacity: 0.1;
  }

  50% {
    transform: scale(0.8);
    opacity: 0.05;
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

.dark-theme .message-bubble {
  background: var(--navbar-bg);
  color: var(--text-color);

  &::after {
    border-top-color: var(--navbar-bg);
  }
}